@using Korzh.EasyQuery.AspNetCore
@model Korzh.EasyQuery.Services.IPagedList<Permit>
@{
    Layout = null;
}

<table class="table">
    <tr>
      <!---TO DO-->
    </tr>

@foreach (var item in Model) {
    <tr>
        @item.Name
    </tr>
}

</table>

@Html.PageNavigator(Model)

